<div class="app-body-content app-body-with-toolbar layout-split">
    <div class="app-toolbar row">
        <div class="col-sm-4">
            <div class="btn-group">
                <a class="btn btn-default" ng-click="ctx.addSegmentValue()" title="New"><i class="fa fa-plus"></i></a>
                <a class="btn btn-default" ng-click="ctx.refresh()" title="Refresh"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row-split pull-right">
                <a class="btn btn-default" ng-click="ctx.deleteSegmentValue()"
                   ng-disabled="ctx.segmentValuesgridApi.selection.getSelectedRows().length==0" title="Delete Selected"><i class="fa fa-trash"></i></a>   
                <a class="btn btn-default" ng-click="ctx.clearFilters()" title="Clear Filter"><i class="icon-filter-clear"></i></a> 
                <a class="btn btn-default" title="Download Data" ng-click="ctx.exportToCSV()"><i class="fa fa-download"></i></a>
                <a class="btn btn-default disabled" title="Import Data"><i class="fa fa-upload"></i></a>

                <div class="btn-group" uib-dropdown on-toggle="toggled(open)">
                    <a href uib-dropdown-toggle class="btn btn-default" title="Settings">
                        <i class="fa fa-cog"></i>
                    </a>
                    <ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="inventory-list-types dropdown-menu-right">
                        <li>
                            <a href ng-click="ctx.layout.orientation = 'vertical'">Top-Bottom</a>
                        </li>
                        <li>
                            <a href ng-click="ctx.layout.orientation = 'horizontal'">Left-Right</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <span class="ui-grid-exporter-csv-link">&nbsp;</span>
    <lcma-layout orientation="{{ctx.layout.orientation}}">
        <lcma-layout-pane size="{{ctx.layout.list.size}}" min-size="40" max-size="80">
            <div class="grid app-data app-data-grid" ui-grid="ctx.gridOptions" ui-grid-selection ui-grid-exporter
                 ui-grid-resize-columns>                     
            </div>
        </lcma-layout-pane>
        <lcma-layout-pane size="{{ctx.layout.details.size}}" class="panel-details" min-size="40" max-size="70">              
            <div class="grid app-data app-data-grid" ui-grid="ctx.segmentValueGridOptions" ui-grid-edit ui-grid-row-edit ui-grid-selection ui-grid-exporter
                 ui-grid-resize-columns  lcma-no-data-message> 
            </div>

        </lcma-layout-pane>
    </lcma-layout>
</div>
