<div>
  <div class="modal-header app-modal-width">
    <h4 class="modal-title">Create New Underlying Service</h4>
  </div>
  <div class="modal-body app-modal-width">
    <form name="ServiceForm" class="form-horizontal form-cozy mar-b add-form">

      <lcma-form-layout columns="1">

        <lcma-form-group label-size="3">
          <lcma-form-label>Ckt Type</lcma-form-label>
          <lcma-control-container>
            <input ng-required="true" name="ckt_type" ng-model="service.ckt_type" type="text"
                   class="form-control">
          </lcma-control-container>
        </lcma-form-group>

        <lcma-form-group label-size="3">
          <lcma-form-label>Int Ckt ID</lcma-form-label>
          <lcma-control-container>
            <input ng-required="true" name="int_ckt_id" ng-model="service.int_ckt_id" type="text"
                   class="form-control">
          </lcma-control-container>
        </lcma-form-group>

        <lcma-form-group label-size="3">
          <lcma-form-label>SP Ckt Id</lcma-form-label>
          <lcma-control-container>
            <input ng-required="true" name="sp_ckt_id" ng-model="service.sp_ckt_id" type="text"
                   class="form-control">
          </lcma-control-container>
        </lcma-form-group>

      </lcma-form-layout>
    </form>
  </div>
  <div class="modal-footer app-modal-width">
    <button class="btn btn-primary" type="button" ng-click="create(ServiceForm)">Create</button>
    <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>

