.order-subentity {
  padding-left: 40px;
  h4 {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.order-item-titlebar-icon {
    margin-right: 10px;    
}

.order-item-titlebar {
    cursor: pointer; 
    cursor: hand; 
}
