<div>
  <div class="modal-header app-modal-width">
    <h4 class="modal-title">Update Plan Feature</h4>
  </div>
  <div class="modal-body app-modal-width">
    <form name="PlanForm" class="form-horizontal form-cozy mar-b add-form">

      <lcma-form-layout columns="1">

        <lcma-form-group label-size="4">
          <lcma-form-label>Feature Description</lcma-form-label>
          <lcma-control-container>
            <textarea class="form-control"
                      ng-model="plan.description"
                      name="description"
                      ng-required="true"></textarea>
          </lcma-control-container>
        </lcma-form-group>

        <lcma-form-group label-size="4">
          <lcma-form-label>Monthly Cost</lcma-form-label>
          <lcma-control-container>
            <input ng-required="true" type="number" name="monthly_cost" ng-model="plan.monthly_cost" type="text"
                   class="form-control text-right">
          </lcma-control-container>
        </lcma-form-group>

      </lcma-form-layout>
    </form>
  </div>
  <div class="modal-footer app-modal-width">
    <button class="btn btn-primary" type="button" ng-click="update(PlanForm)">Update</button>
    <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>
