<div class="modal-header">
    <h4 class="modal-title">Update Role</h4>
</div>
<div class="modal-body">
    <form name="RoleForm" class="form-horizontal form-cozy mar-b add-form" id="RoleForm">
        <lcma-form-layout columns="2">
            <lcma-form-group label-size="2">
                <lcma-form-label>Name</lcma-form-label>
                <lcma-control-container>
                    <input ng-required="true" name="name" ng-model="role.name" type="text"
                         class="form-control col-xs-3" ng-readonly="role.name === 'Administrator'">
                    <div ng-messages="RoleForm.name.$error" ng-show="RoleForm.name.$touched" role="alert">
                        <div ng-message="required">You didn't enter valid role name.</div>
                    </div>
                </lcma-control-container>
            </lcma-form-group>
        </lcma-form-layout>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="update(RoleForm)">Update</button>
    <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
</div>
