<lcma-form-layout columns="3">

  <lcma-form-group label-size="4">
    <lcma-form-label>Int Svc ID</lcma-form-label>
    <lcma-control-container>
      <input ng-required="true" name="int_svc_id" ng-model="ctx.inventory.int_svc_id" type="text" class="form-control">
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>SP Svc ID</lcma-form-label>
    <lcma-control-container>
      <input ng-required="true" name="sp_svc_id" ng-model="ctx.inventory.sp_svc_id" type="text" class="form-control">
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>2nd SP ID</lcma-form-label>
    <lcma-control-container>
      <input ng-required="true" name="second_sp_id" ng-model="ctx.inventory.second_sp_id" type="text" class="form-control" >
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Vendor</lcma-form-label>
    <lcma-control-container>
      <lcma-vendor-picker ng-model="ctx.inventory.vendor_id"></lcma-vendor-picker>
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Status</lcma-form-label>
    <lcma-control-container>
      <lcma-dictionary-picker type-key='inventory-status' name="status" ng-model="ctx.inventory.status_id"
        ></lcma-dictionary-picker>
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>BAN</lcma-form-label>
    <lcma-control-container>
      <input name="ban" ng-model="ctx.inventory.ban" type="text" class="form-control">
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>SP BTN</lcma-form-label>
    <lcma-control-container>
      <input name="sp_btn" ng-model="ctx.inventory.sp_btn" type="text" class="form-control">
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Svc Type</lcma-form-label>
    <lcma-control-container>
      <lcma-dictionary-picker type-key='inventory-svc-type' name="svc_type" ng-model="ctx.inventory.svc_type_id" ></lcma-dictionary-picker>
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Technology</lcma-form-label>
    <lcma-control-container>
      <lcma-dictionary-picker type-key='inventory-technology' name="technology" ng-model="ctx.inventory.technology_id"></lcma-dictionary-picker>
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Fac BW</lcma-form-label>
    <lcma-control-container>
      <input name="fac_bw" ng-model="ctx.inventory.fac_bw" type="text" class="form-control" >
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>IP Shared Trk</lcma-form-label>
    <lcma-control-container>
      <input name="ip_shared_trk" ng-model="ctx.inventory.ip_shared_trk" type="text" class="form-control" />
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Conc Calls</lcma-form-label>
    <lcma-control-container>
      <input name="conc_calls" ng-model="ctx.inventory.conc_calls" type="text" class="form-control" />
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Site</lcma-form-label>
    <lcma-control-container>
      <lcma-site-picker name="site" site-id="ctx.inventory.site_id"></lcma-site-picker>
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Contract ID</lcma-form-label>
    <lcma-control-container>
      <lcma-contract-picker ng-model="ctx.inventory.contract_id"></lcma-contract-picker>
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Est. MRC</lcma-form-label>
    <lcma-control-container>
      <input ng-required="true" name="est_mrc" ng-model="ctx.inventory.est_mrc" type="text" class="form-control" >
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Est. NRC</lcma-form-label>
    <lcma-control-container>
      <input ng-required="true" name="est_nrc" ng-model="ctx.inventory.est_nrc" type="text" class="form-control" >
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Term</lcma-form-label>
    <lcma-control-container>
      <input  name="term" ng-model="ctx.inventory.term" type="text" class="form-control" >
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Exp Date</lcma-form-label>
    <lcma-control-container>
      <input
        uib-datepicker-popup="MM/dd/yyyy"
        ng-model="ctx.inventory.exp_date"
        name="exp_date"
        placeholder="Exp Date"
        init-date="{{ctx.inventory.exp_date}}"
        class="form-control input-sm"
        is-open="ctx.exp_date_ui.opened"
        ng-click="ctx.exp_date_ui.opened=true"
        />
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Install Date</lcma-form-label>
    <lcma-control-container>
      <input
        uib-datepicker-popup="MM/dd/yyyy"
        ng-model="ctx.inventory.install_date"
        name="install_date"
        placeholder="Install Date"
        init-date="{{ctx.inventory.install_date}}"
        class="form-control input-sm"
        is-open="ctx.install_date_ui.opened"
        ng-click="ctx.install_date_ui.opened=true"
        >
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Disc Date</lcma-form-label>
    <lcma-control-container>
      <input
        uib-datepicker-popup="MM/dd/yyyy"
        ng-model="ctx.inventory.disc_date"
        name="disc_date"
        placeholder="Disc Date"
        init-date="{{ctx.inventory.disc_date}}"
        class="form-control input-sm"
        is-open="ctx.disc_date_ui.opened"
        ng-click="ctx.disc_date_ui.opened=true"
        />
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Prim/Failover</lcma-form-label>
    <lcma-control-container>
      <lcma-dictionary-picker type-key='inventory-prim-failover' name="prim_failover" ng-model="ctx.inventory.prim_failover_id"></lcma-dictionary-picker>
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Fail Rel Svc</lcma-form-label>
    <lcma-control-container>
      <input name="fail_rel_svc" ng-model="ctx.inventory.fail_rel_svc" type="text" class="form-control" />
    </lcma-control-container>
  </lcma-form-group>

  <lcma-form-group label-size="4">
    <lcma-form-label>Rel Svc</lcma-form-label>
    <lcma-control-container>
      <input name="rel_svc" ng-model="ctx.inventory.rel_svc" type="text" class="form-control" />
    </lcma-control-container>
  </lcma-form-group>

</lcma-form-layout>
