<div>
  <div class="modal-header app-modal-width">
    <h4 class="modal-title">Update Password</h4>
  </div>
  <div class="modal-body app-modal-width">
    <form name="PasswordForm" class="form-horizontal form-cozy">

      <div class="panel panel-alternate">

        <div class="panel-body">
          <lcma-form-layout columns="1">
            <lcma-form-group label-size="4">
              <lcma-form-label>Old Password</lcma-form-label>
              <lcma-control-container>
                <input ng-required="true" name="o_password" type="password" class="form-control"
                       ng-model="ctx.o_password">
                <div ng-messages="PasswordForm.o_password.$error" ng-show="PasswordForm.o_password.$touched" role="alert">
                  <div ng-message="required">Please provide old password</div>
                </div>
              </lcma-control-container>
            </lcma-form-group>

            <lcma-form-group label-size="4">
              <lcma-form-label>New Password</lcma-form-label>
              <lcma-control-container>
                <input ng-required="true" name="n_password" type="password" class="form-control"
                       ng-model="ctx.n_password">
                <div ng-messages="PasswordForm.n_password.$error" ng-show="PasswordForm.n_password.$touched" role="alert">
                  <div ng-message="required">Please provide new password.</div>
                </div>
              </lcma-control-container>
            </lcma-form-group>

            <lcma-form-group label-size="4">
              <lcma-form-label>Confirm Password</lcma-form-label>
              <lcma-control-container>
                <input ng-required="true" name="c_password" type="password" class="form-control"
                       ng-model="ctx.c_password">
                <div ng-messages="PasswordForm.c_password.$error" ng-show="PasswordForm.c_password.$touched" role="alert">
                  <div ng-message="required">Please confirm new password.</div>
                </div>
              </lcma-control-container>
            </lcma-form-group>


            <lcma-form-group label-size="4">
              <lcma-form-label></lcma-form-label>
              <lcma-control-container>
                <span class="error">{{ctx.errMsg}}</span>
              </lcma-control-container>
            </lcma-form-group>

          </lcma-form-layout>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer app-modal-width">
    <button class="btn btn-primary" type="button" ng-click="update(PasswordForm)">Update</button>
    <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>
