<div>
  <ol id="dynamic-options" class="nya-bs-select" ng-model="selection"  data-live-search="true"  data-size="8" title="Select ...">
    <li nya-bs-option="role in roles" data-value="role.id">
      <a>{{ role.name }}</a>
    </li>
    <li class="btn-group btn-group-justified">
        <a class="btn btn-default" ng-click="addItem()" lcma-check-permissions="Create@roles"><i class="fa fa-plus"></i></a>
        <a class="btn btn-default disabled" ng-click="searchItem()"><i class="fa fa-search"></i></a>
    </li>
  </ol>

</div>
