<div class="app-body-content app-body-with-toolbar container-fluid">
  <div class="app-toolbar row">
    <div class="col-sm-6">
      <div>
        <a class="btn btn-default" ng-click="ctx.addBuilding()"><i class="fa fa-user-plus"></i> &nbsp;New Building</a>
        <a class="btn btn-default" ng-click="ctx.exportToCSV()"><i class="fa fa-file-excel-o"></i> &nbsp;Export to CSV</a>
        <a class="btn btn-default" ng-click="ctx.refresh()"><i class="fa fa-refresh"></i></a>
        <a class="btn btn-default" ng-click="ctx.clearFilters()"><i class="icon-filter-clear"></i></a>
      </div>
    </div>

    <div class="col-sm-6">
      <lcma-pager class="pull-right" ng-model="ctx.pager"></lcma-pager>
      <lcma-pager-size-switch class="pull-right" ng-model="ctx.pager"></lcma-pager-size-switch>
      <lcma-pager-info class="pull-right" ng-model="ctx.pager"></lcma-pager-info>

    </div>

  </div>
  <span class="ui-grid-exporter-csv-link">&nbsp;</span>
  <div class="grid app-data app-data-grid mar-all" ui-grid="ctx.gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pinning ui-grid-resize-columns></div>
</div>
