<div ng-controller="ActionCtrl">
  <div class="dropdown pull-right" uib-dropdown>
    <a class="dropdown-toggle" id="simple-dropdown" uib-dropdown-toggle>
      <i class="fa fa-user"></i>
      Welcome Andrej
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Change Password</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>

</div>
