<div class="app-body-content app-body-with-toolbar layout-split">
  <div class="app-toolbar row">
    <div class="col-sm-4">
      <div class="btn-group">
        <a class="btn btn-default" ng-click="ctx.addUser()"><i class="fa fa-plus"></i></a>
        <a class="btn btn-default" ng-click="ctx.refresh()" title="Refresh"><i class="fa fa-refresh"></i></a>
      </div>
    </div>
    <div class="col-sm-8 text-right">
      <div>
        <lcma-pager class="pull-right" ng-model="ctx.pager"></lcma-pager>
        <lcma-pager-size-switch class="pull-right" ng-model="ctx.pager"></lcma-pager-size-switch>
        <lcma-pager-info class="pull-right" ng-model="ctx.pager"></lcma-pager-info>
      </div>
      <div class="btn-group">
        <a class="btn btn-default" ng-click="ctx.exportToCSV()" title="Export to CSV"><i class="fa fa-download"></i></a>
        <a class="btn btn-default" ng-click="ctx.clearFilters()" title="Clear Filter"><i class="icon-filter-clear"></i></a>
      </div>
      <div class=" btn-group">
         <span uib-dropdown on-toggle="toggled(open)">
              <a href uib-dropdown-toggle class="btn btn-default" title="Settings">
                <i class="fa fa-cog"></i>
              </a>
              <ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="inventory-list-types">
                <li>
                  <a href on-apply="ctx.onSettingsUpdate" lcma-grid-settings-href="user.list.grid">Grid Settings</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href ng-click="ctx.layout.orientation = 'vertical'">Top-Bottom</a>
                </li>
                <li>
                  <a href ng-click="ctx.layout.orientation = 'horizontal'">Left-Right</a>
                </li>
              </ul>
          </span>
      </div>
    </div>
  </div>

  <span class="ui-grid-exporter-csv-link">&nbsp;</span>
  <lcma-layout orientation="{{ctx.layout.orientation}}" settings-key="users.list.layout">
    <lcma-layout-pane size="{{ctx.layout.list.size}}" min-size="30" max-size="80">
      <div class="grid app-data app-data-grid" ui-grid="ctx.gridOptions" ui-grid-selection ui-grid-exporter
           ui-grid-resize-columns  lcma-no-data-message>
      </div>
    </lcma-layout-pane>
    <lcma-layout-pane size="{{ctx.layout.details.size}}" class="panel-details" min-size="30" max-size="80">
      <div ng-if="ctx.currentSelection===null">
        <lcma-wrapper template-url="app/users/new/user-new.html" on-change="ctx.onChange(data, create)"
                      on-dismiss="ctx.onDismiss(create)" resolve="resolvesNew" controller="UserNewCtrl"></lcma-wrapper>
      </div>
      <div ng-if="ctx.currentSelection.id">
        <lcma-wrapper template-url="app/users/edit/user-edit.html" on-change="ctx.onChange(data, create)"
                      on-dismiss="ctx.onDismiss()" resolve="ctx.resolvesEdit" controller="UserEditCtrl"></lcma-wrapper>
      </div>
    </lcma-layout-pane>
  </lcma-layout>
</div>
