.dispute-panel {
    border: 1px solid #ccc; 
    margin-left: 20px;
}

.dispute-row {
    margin-left: 0; 
    margin-right: 0;
}

.dispute-under {
    border-bottom: 1px solid #ccc;
}

.small-padding-up-bottom {
    padding-bottom: 5px;
    padding-top: 10px;
}

.no-padding{
    padding: 0;
}

.no-b-mar {
    margin-bottom: 0;
}

.dispute-padding{
    margin-left: 10px;
    margin-right: 10px;
}

.dispute-summary-panel {
    background-color: #eeeeee;
}

.dispute-label {
    padding-right: 15px !important;
}

.dispute-summary-content {
    padding-bottom: 10px;
    padding-top: 10px;
}

.dispute-summary-label-padding{
    padding-top: 0 !important;
}

.dispute-header-fields-row {
    margin-bottom: 10px;
}