<div>
  <ol id="dynamic-options" class="nya-bs-select" ng-model="selection"  data-live-search="true"  data-size="8" title="Select ...">
    <li nya-bs-option="contract in contracts" data-value="contract.id">
      <a>{{ contract.name }}</a>
    </li>
    <li class="btn-group btn-group-justified custom-picker-options-space"></li>
    <li class="btn-group btn-group-justified custom-picker-options">
        <a class="btn btn-default" ng-click="addItem()" lcma-check-permissions="Create@contracts"><i class="fa fa-plus"></i></a>
        <a class="btn btn-default disabled" ng-click="searchItem()"><i class="fa fa-search"></i></a>
    </li>
  </ol>

</div>
