<ng-include src="'app/order-services/forms/order-service-common.html'"></ng-include>

<div class="row">
  <div class="form-group col-md-4 col-lg-4">
      <label class="col-sm-4 custom-control-label">TFN</label>
      <div class="col-sm-8">
        <input ng-required="true" name="toll_free_number" ng-model="ctx.inventory.toll_free_number" type="text" class="form-control">
        <div ng-messages="ServiceForm.toll_free_number.$error" ng-show="ServiceForm.toll_free_number.$touched" role="alert">
          <div ng-message="required">You didn't enter Toll Free Number</div>
        </div>
      </div>
  </div>

  <div class="form-group col-md-4 col-lg-4">
      <label class="col-sm-4 custom-control-label">Carrier</label>
      <div class="col-sm-8">
          <input name="carrier" ng-model="ctx.inventory.carrier" type="text" class="form-control">
      </div>
  </div>

  <div class="form-group col-md-4 col-lg-4">
    <label class="col-sm-4 custom-control-label">Resp Org</label>
    <div class="col-sm-8">
      <input name="resp_org" ng-model="ctx.inventory.resp_org" type="text" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4 col-lg-4">
    <label class="col-sm-4 custom-control-label">SMS Template</label>
    <div class="col-sm-8">
      <lcma-dictionary-picker type-key='inventory-toll_free_number-sms-template' name="sms_template" ng-model="ctx.inventory.sms_template_id"
        ></lcma-dictionary-picker>
    </div>
  </div>

  <div class="form-group col-md-4 col-lg-4">
      <label class="col-sm-4 custom-control-label">Status</label>
      <div class="col-sm-8">
        <lcma-dictionary-picker type-key='inventory-toll_free_number-status' name="status" ng-model="ctx.inventory.toll_free_number_status_id"
          ></lcma-dictionary-picker>
      </div>
  </div>

  <div class="form-group col-md-4 col-lg-4">
      <label class="col-sm-4 custom-control-label">Contract ID</label>
      <div class="col-sm-8">
        <lcma-contract-picker ng-model="ctx.inventory.contract_id"></lcma-contract-picker>
      </div>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4 col-lg-4">
    <label class="col-sm-4 custom-control-label">Application</label>
    <div class="col-sm-8">
      <input name="application" ng-model="ctx.inventory.application" type="text" class="form-control">
    </div>
  </div>
</div>



