.padding-left-20 {
  padding-left: 20px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.rel-picker {
  display: inline-block;
  margin-left: 20px;
  width: 150px;
}

.inventory-list-types.dropdown-menu {
  max-height: none !important;
}
